<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<Properties>

		<!-- Logfile location env NEXSTRA_LOGFILE ./xxx.log env NEXSTRA_LOGLEVEL 
			info -->
	</Properties>
	<Appenders>
          <RollingFile name="A1" fileName="${sys:java.io.tmpdir}/wenity.log"
            filePattern="${sys:java.io.tmpdir}/wenity-%d{MM-dd-yyyy}.log">
			<PatternLayout
				pattern="%d{ISO8601} %-5p [%t] %c conn=%X{db.connection} - %m%n" />
			<TimeBasedTriggeringPolicy />
		</RollingFile>
		<Console name="STDOUT" target="SYSTEM_ERR">
			<PatternLayout
				pattern="%d{ISO8601} %-5p [%t] %c conn=%X{db.connection} - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="STDOUT" level="INFO" />
		<Root level="DEBUG">
			<AppenderRef ref="A1" level="WARN" />
		</Root>
	</Loggers>
</Configuration>
